:root {
   --beige: #f4ece1;
   --yellow: #e5c95c;
   --black: #252928;
   --red: #fb6332;
   --white: #FFF;
   --gray: #bcc2c1;
   --darkgray: #6d7877;
}

* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

/* Layout Styling */
html {
   font-size: 62.5%;
}

body {
   font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
   background-color: var(--beige);
}

.wrapper {
   max-width: 100rem;
   margin: 0 auto;
}

/* Typography */
.h1 {
   font-size: clamp(4rem, 10vw, 12rem);
   font-weight: 900;
   padding: 0 0 .2em;
   color: var(--black);
}

.ingress {
   font-size: 2rem;
   font-weight: 500;
   color: var(--black);
}

/* Search Section */
.search-section {
  position: relative;
  background-color: var(--yellow);
  border-bottom: 2px solid var(--black);
  padding: 5vw 5vw 0;
}

.search-section__header {
   display: grid;
   place-items: center;
   padding-bottom: 5vw;
}

/* Search Form */
.search-form {
   display: flex;
   border: 2px solid var(--black);
   border-bottom: none;
}

.search-form-input {
   flex: 1 1 0px;
   appearance: none;
   padding: 2rem;
   font-family: inherit;
   background-color: var(--white);
   color: var(--black);
   border: none;
}

.search-form-button {
   appearance: none;
   padding: 2rem 5rem;
   font-size: 1.4rem;
   font-weight: 600;
   background-color: var(--black);
   color: var(--white);
   letter-spacing: 1px;
   text-transform: uppercase;
   border: none;
   cursor: pointer;
}

/* Movie Results */
.movie-results {
   position: relative;
   padding: 0 5vw 5vw;
}

.movie-results__wrapper {
   background-color: var(--white);
}

.movie-results__list {
   display: none;
   list-style: none;
   margin: 0;
   padding: 0;
   border: 2px solid var(--black);
   border-top: none;
}

.movie-results__list.has-results {
   display: block;
}

.video-item {
   padding: 2rem 2rem 2rem 0;
   margin: 0 0 2rem 2rem;
   border-bottom: 1px solid var(--gray);
}

.video-item__title {
   font-size: 2.5rem;
   font-weight: 900;
}

/* Rating */
.grade {
   display: flex;
   justify-content: space-between;
   align-items: flex-end;
   margin-top: 1rem;
}

.grade__item {
   display: flex;
}

.grade__rating {
   font-size: 1.6rem;
   color: var(--darkgray);
}

.star {
   font-size: inherit;
}

.star--filled {
   color: var(--yellow);
}

.star-cb-group {
   /* remove inline-block whitespace */
   font-size: 0;
   /* flip the order so we can use the + and ~ combinators */
   unicode-bidi: bidi-override;
   direction: rtl;
   padding: 0 0 0 5px;
}

.star-cb-group * {
   font-size: 2rem;
}

.star-cb-group>input {
   display: none;
}

.star-cb-group>input+label {
   display: inline-block;
   width: 2rem;
   cursor: pointer;
   font-size: 0;
   text-align: left;
}

.star-cb-group>input+label:before {
   display: inline-block;
   content: '\2606';
   font-size: 1.6rem;
   color: var(--darkgray);
}

.star-cb-group>input:checked~label:before,
.star-cb-group>input+label:hover~label:before,
.star-cb-group>input+label:hover:before {
   content: '\2605';
   color: var(--yellow);
}

.star-cb-group>.star-cb-clear+label {
   text-indent: -9999px;
   width: .5em;
   margin-left: -.5em;
}

.star-cb-group>.star-cb-clear+label:before {
   width: .5em;
}

.star-cb-group:hover>input+label:before {
   color: var(--darkgray);
   text-shadow: none;
}

.star-cb-group:hover>input+label:hover~label:before,
.star-cb-group:hover>input+label:hover:before {
   color: var(--yellow);
}
